.registration{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration  h1{
    margin-bottom: 50px;
    margin-top: 50px;
    text-decoration: underline;
}

.registration  h1::first-letter{
    color: rgb(3, 170, 25);
}