.main-container{
    display: flex;
}
.main{
    /* max-width: calc((100% - 1200px)/2); */
    width: 60%;
    padding-top: 70px;
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media(max-width: 1200px){
    .main{
        width: 80%;
    }
}
.filter{
    width: 20%;
    min-width: 300px;
    border-right: 8px solid rgb(3, 170, 25);
    /* top: 70px; */
    left:  0;
    position: static;
    height: calc(100vh - 70px);
    background-color: black;
}
.filter-container{
    display: flex;
    padding: 0 15px;
    flex-direction: column;
}
.filter-container h1{
    color: white;
}
.filter-container input{
    height: 30px;
    margin-top: 15px;
    padding: 0 15px;
    outline: none;
}