.navigation{
    width: 100%;
    background: black;
    border-bottom: 6px solid rgb(3, 170, 25);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px calc((100% - 1200px)/2);
}
.nav-right{
    display: flex;
    align-items: center;
}
.navigation a{
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 10px;
    transition: .33s;
}
.search-container{
    position: relative;
}
.searchIcon{
    height: 20px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    position: absolute;
}
.menuActive{
    color: rgb(3, 170, 25) !important;
}
.serchInput{
    height: 25px;
    outline: none;
    padding: 15px;
    font-size: 18px;
    padding-left: 28px;
    box-sizing: border-box;
}
